.search {
  width: 100%;

  .camera-preview,
  .upload-preview,

  .result-score {
    color: white;
  }

  .button-bar {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .inference-result {
    color: white;
  }
}