.library {
  width: 100%;
  max-width: 375px;

  .img-container {
    max-width: 375px;
    text-align: center;
  }

 .camera-preview, .upload-preview {
    width: 100%;
    max-width: 350px;
   max-height: 350px;
 }

  .button-bar {
    width: 100%;
    max-width: 375px;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
  }

  .button-bar {
    justify-content: center;
  }
}